*,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  border: none;
  outline: none;
}

/* ký hiệu */
:root {
  --color-black: black;
  --color-gray: #7c7a7a;
  --color-bgr: #f5f5f5;
  --color-white: #ffffff;
  --color-dark: #252841;
  --color-red: #dc3545;
  --color-muted: #ff5773;
  --color-blue: #4a90e2;
  --color-light1: #ffffff;
  --color-light2: rgb(158, 160, 162, 0.3);
  --color-light3: rgb(158, 160, 162, 0.1);
  --color-blue-linght: rgba(115, 149, 242, 0.1);
  --smooth: all 0.5s ease;
  /* Fix the variable name here */
  --indigo: #6610f2;
  --spacing-3: 3rem;
  --spacing-2: 2rem;
  --spacing-1: 1rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  padding: 0;
  color: #000;
  transition: var(--smooth);
  background: var(--color-light1);
  flex-direction: column;
  transform: translateX(-300px);
  font-weight: 700;
  z-index: 7;
  box-shadow: 0 0 0 3px var(--color-light2), 0 0 0 5px var(--color-light3);
}

.wrapper.turn_on {
  transform: translateX(0);
  transition: var(--smooth);
 
}

.content {
  margin-bottom: var(--spacing-1);
}

.content img {
  width: 100px;
  height: 100px;
  margin-left: 50px;
  padding-top: 20px;
  border-radius: 3px;
}

.sidebar {
  padding: 5px 0;
  overflow-y: auto;
}

.sidebar .navbar {
  position: relative;
  display: flex;
}

.sidebar .navbar li .navbar-link {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar .navbar li .navbar-link ul {
  position: relative;
  overflow: hidden;
  opacity: 0;
  color: var(--color-white);
  visibility: hidden;
  padding-left: 10px;
  gap: 0.5rem;
  transition: margin 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.sidebar .navbar li .navbar-link ul.dropdown {
  opacity: 1 !important;
  visibility: visible !important;
  margin-top: 0 !important;
  overflow-x: auto !important;
}

.sidebar .navbar li .navbar-link li {
  color: var(--color-black);
  margin: 10px 0;
  padding: 15px;
  border-bottom: 2px solid var(--color-blue);
  border-radius: 10px;
}

.sidebar .navbar li .navbar-link li:not(:last-child) {
  border-bottom: 2px solid var(--color-blue);
  border-radius: 10px;
  margin-top: 10px;
  padding-left: 10px;
}


.sidebar .navbar li .navbar-link li:hover {
  background-color: var(--color-light1);
}

.sidebar .navbar li .navbar-link>span {
  text-transform: capitalize;
  font-size: 16px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: var(--color-black);
  gap: 1.5rem;
  padding: 5px 10px;
}

.sidebar .navbar li .navbar-link>span>i {
  color: var(--color-black);
  font-size: 1.5rem;
}

.sidebar .navbar li .navbar-link>span>span {
  border-bottom-right-radius: 2px var(--color-blue);
}

.sidebar .navbar li .navbar-link>span:hover {
  background-color: var(--color-blue);
}

.title {
  padding-left: 20px;
  padding-top: 20px;
}

.title i {
  position: relative;
}

.sidebar .navbar li .navbar-link>span i {
  color: var(--color-black);
  font-size: 1.5rem;
}

.sidebar .navbar li .navbar-link>span i:hover {
  padding: 10px;
  transition: scale(-1.2);
}

.sidebar .navbar li .navbar-link>span.active {
  padding: 15px;
  background: var(--color-blue);
  color: var(--color-black);
  transition: var(--smooth);
}

.sidebar .navbar li .navbar-link>span .bx-chevron-down {
  position: absolute;
  margin-left: 150px;
  font-size: 1.5rem;
}

.sidebar .navbar li .navbar-link>span.active .bx-chevron-down {
  padding-left: 20px;
  transform: rotate(180deg);
  color: #6c8fed;
  font-size: 1.5rem;
  opacity: 1 !important;
}

/* Add a black background color to the top navigation */
.topnav {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background: var(--color-light1);
  box-shadow: 0 0 0 3px var(--color-light2), 0 0 0 10px var(--color-light3);
}

.topnav .logo-nav {
  height: 50px;
  width: 50px;
  display: flex;
  position: relative;
  margin-left: 20px;
  margin-top: 15px;
  float: left;
  opacity: 1;
  transition: var(--smooth);
  cursor: pointer;
}

.topnav .logo-nav img {
  cursor: pointer;
  height: 50px;
  width: 50px;
  
}
.logo-nav.turn_off{
  transition: var(--smooth);
  opacity: 0;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
}

/* nav right  */
.nav-right {
  display: flex;
  justify-content: end;
}

.topnav .nav-right {
  gap: 1.5rem;
  width: 50px;
  height: 80px;
  float: right;
  display: flex;
  align-items: center;
}
/* infor -user */
.topnav .nav-right .user-info img {
  width: 60px;
  margin-right: 20px;
  cursor: pointer;
}
.topnav .nav-right .user-info img:hover{
  transform: scale(1.1);
}
/*message-box */
.nav-right .message-box i{
  background-color: var(--color-light2);
  font-size: 2rem;
  padding: 10px;
  color: var(--color-black);
  border-radius: 50%;
  cursor: pointer;
}
.nav-right .message-box i:hover{
  transform: scale(1.1);
  background-color: var(--color-light3);
}
/* message-box menu  */
.message-menus{
  position: absolute;
  width: 450px;
  height: 500px;
  overflow-x: auto;
  background: var(--color-light1);
  top: 80px;
  right: 100px;
  border-radius: 10px;
  transition: var(--smooth);
  box-shadow: 0 0 0 3px var(--color-light2), 0 0 0 5px var(--color-light3);
  opacity: 0;
}
.message-menus.open_message{
  transition: var(--smooth);
  opacity: 1;
}
.message-menus .top-message-menu{
  padding: 10px;
}
.message-menus.top-message-menu h3{
  font-weight: 700;
}
.message-menus .top-message-menu span{
  padding: 5px;
  display: flex;
  border-radius: 20px;
  background: var(--color-light1);
  box-shadow: 0 0 0 3px var(--color-light2), 0 0 0 5px var(--color-light3);
}
.message-menus .top-message-menu span>input{
  width: 100%;
}
.message-menus .top-message-menu>span:hover{
  box-shadow: 0 0 0 3px var(green), 0 0 0 5px var(rgb(137, 198, 137));
}
.message-menus .top-message-menu span>i{
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.5rem;
}
.message-menus .top-message-menu span>i:hover{
  transition: var(--smooth);
  transform: scale(1.2);
  color: #04AA6D;
}
.message-menus .body-message-menu{
  width: 100%;
  height: 50px;
}
.message-menus .body-message-menu ul{
  padding: 10px;
  display: flex;
}
.message-menus .body-message-menu ul:hover{
  background: var(--color-light2);
  border-radius: 20px;
}
.message-menus .body-message-menu ul>li img{
  width: 60px;
  height: 60px;
}
.message-menus .body-message-menu ul>li img:hover{
  transform: scale(1.2);
}
.message-menus .body-message-menu ul>li{
  padding-left: 10px;
}

/* Notification -box */
.nav-right .nav-notifi i{
  background-color: var(--color-light2);
  font-size: 2rem;
  padding: 10px;
  color: var(--color-black);
  border-radius: 50%;
  cursor: pointer;
}
.nav-right .nav-notifi i:hover{
  transform: scale(1.1);
  background-color: var(--color-light3);
}
/* menu Notification */
.sub-notifis{
  position: absolute;
  width: 450px;
  height: 500px;
  overflow-x: auto;
  background: var(--color-light1);
  top: 80px;
  right: 180px;
  border-radius: 10px;
  transition: var(--smooth);
  box-shadow: 0 0 0 3px var(--color-light2), 0 0 0 5px var(--color-light3);
  opacity: 0;
}
.sub-notifis.open_notifi{
  transition: var(--smooth);
  opacity: 1;
}
.sub-notifis .top-notifi{
  padding: 10px;
}
.sub-notifis .top-notifi h3{
  font-weight: 700;
}
.sub-notifis .top-notifi span>a{
  text-decoration: none;
}
.sub-notifis .top-notifi span>a>button{
  padding: 10px;
  border-radius: 20px;
  margin-left: 10px;
  cursor: pointer;
}
.sub-notifis .top-notifi span>a>button:hover{
  background-color: var(--color-light2);
}
.sub-notifis .body-notifi{
  width: 100%;
  height: 50px;
}
.sub-notifis .body-notifi ul{
  padding: 10px;
  display: flex;
}
.sub-notifis .body-notifi ul:hover{
  background: var(--color-light2);
  border-radius: 20px;
}
.sub-notifis .body-notifi ul>li img{
  width: 60px;
  height: 60px;
}
.sub-notifis .body-notifi ul>li img:hover{
  transform: scale(1.2);
}
.sub-notifis .body-notifi ul>li{
  padding-left: 10px;
}
/* sub menu info */
.sub-info {
  background: var(--color-light1);
  border-radius: 10px;
  margin-right: 30px;
  margin-top: 80px;
  right: 0;
  position: absolute;
  opacity: 0;
  box-shadow: 0 0 0 3px var(--color-light2), 0 0 0 5px var(--color-light3);
}

.sub-info.wrapper.turn_on {
  transform: translateX(200px);
  z-index: 1000;
}

.sub-info.open {
  opacity: 1;
  transition: var(--smooth);
}

.sub-info ul>li:hover {
  background-color: var(--color-light2);
  border-radius: 10px;
}

.sub-info ul>li {
  margin: 15px;
}

.sub-info ul>li>a {
  gap: 3rem;
  padding: 20px;
  font-size: 1.6rem;
  text-decoration: none;
  color: #000;
}

.sub-info ul>li>a>i {
  font-size: 2rem;
  padding: 10px;
}

.sub-info ul>li>a>i:hover {
  transform: scale(1.2);
}

/* button menu  */
.navbar__icons {
  display: flex;
  float: left;
  padding-left: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  cursor: pointer;
  transition: var(--smooth);
  z-index: 6;
}

.navbar__icons.open-icon {
  transform: translateX(170px);
  z-index: 10;
}

.navbar__icon {
  width: 45px;
  height: 6px;
  background-color: var(--color-gray);
  border-radius: 5px;
  transition: var(--smooth);
  position: relative;
}

.navbar__icon:after,
.navbar__icon:before {
  content: "";
  position: absolute;
  width: 45px;
  height: 6px;
  background-color: var(--color-gray);
  border-radius: 5px;
  transition: var(--smooth);
}

.navbar__icon:before {
  transform: translateY(-12px);
}

.navbar__icon:after {
  transform: translateY(12px);
}

/* buttom animation */
.open-icon .navbar__icon {
  transform: translateX(-50px);
  background: transparent;
}

.open-icon .navbar__icon:before {
  transform: rotate(45deg) translate(35px, -35px);
}

.open-icon .navbar__icon:after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/* main body  */
.main-content {
  overflow: hidden;
  margin-left: 280px;
  height: 100%;
  width: calc(100%-280px);
}

/*footer */

footer {
  position: absolute;
  height: 50px;
  width: 100%;
  background: var(--color-light1);
  font-size: 30px;
  align-items: center;
  bottom: 0;
  margin-left: 0;
  box-shadow: 0 0 0 3px var(--color-light2), 0 0 0 5px var(--color-light3);
}
footer.turn_on{
  margin-left: 250px;
}
footer>span {
  margin-left: 50%;
}