.wp-news{
    padding-top: 116px;
    padding-bottom: 78px;
    padding-left: 134px;
    padding-right: 134px;
    color: azure;
}
.wp-news h2{
    text-align: center;
    margin-bottom: 76px;
    font-size: 32px;
    color: black;
}
.list-news{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.list-news .news{
    width: 420px;
    height: 500px;
    background: #fff;
    margin: 0px auto;
    margin-top: 17px;
    
}
.list-news .title-news{
    text-align: center;
    color: black;
    font-weight: bold;
    margin-top: 21px;
}

.list-news .news .desc-news {
    text-align: center;
    color: black;
}
.list-new .news img{
    display: block;
    margin: 0px auto;
    margin-top: 17px;
}
    

.list-news .news .date-news {
    text-align: center;
    color: gainsboro;
    font-weight: bold;
    margin-top: 20px;
}
.list-news .news .read-more{
    align-items: center;
}
.list-news .news .read-more a{
    color: black;
    text-decoration: none;

}
.list-page {
    width: 50%;
    margin: 0px auto;
}
.list-page{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.list-page .news{
    margin: 0px 20px;
    width: 37px;
    height: 37px;
    background: burlywood;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-page .news a {
    color: #fff;
    text-decoration: none;
}
#footer{
    width: 100%;
    background: rgb(0, 0, 0, 0.79);
    height: 322px;
    margin-top: 338px;
    padding: 0px 63px;
    padding-top: 57px;
    display: flex;
    justify-content: space-around;
}
#footer .box{
    width: 250px;
    color: #fff;
}
#footer .box .quick-menu{
    margin-top: 40px;
}
#footer .box .quick-menu .news{
    margin-bottom: 12px;
}
#footer .box .quick-menu, .news a{
    color: #fff;
    text-decoration: none;
}
#footer .box form input {
    width: 294px;
    height: 42px;
    background: transparent;
    padding-left: 20px;
    color: #fff;
}
#footer .box form button{
    background:#362f2f ;
    box-shadow: 5px 5px 4px rgba(0,0,0.25);
    width: 163px ;
    height: 38px;
    margin-top: 29px;
    color: #fff;
}
