<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Nhân viên ký túc xá</title>
  <link rel="stylesheet" href="../css/style_NV.css" />
  
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
</head>
<body>
  <div class="container">
    <nav>
      <ul>
        <li>
            <a href="#" class="logo">
          <img src="../image/logo-utt-border.png" alt="Logo">
          <span class="nav-item">Ký túc xá UTT</span>
            </a>
        </li>
        <li>
            <a href="">
            <i class="fas fa-user"></i>
            <span class="nav-item">Quản lý sinh viên</span>
            </a>
        </li>
        <li>
            <a href="">
            <i class="fas fa-bed"></i>
            <span class="nav-item">Quản lý phòng</span>
            </a>    
        </li>
        <li>
          <a href="">
          <i class="fas fa-credit-card"></i>
          <span class="nav-item">Quản lý hóa đơn</span>
          </a>  
        </li>
        <li>
          <a href="">
          <i class="fas fa-shower"></i>
          <span class="nav-item">Dịch vụ</span>
          </a>
        </li>
        <li>
            <a href="">
            <i class="fas fa-id-badge"></i>
            <span class="nav-item">Hợp đồng</span>
            </a>
        </li>
        <li>
            <a href="">
            <i class="fas fa-chart-bar"></i>
            <span class="nav-item">Thống kê</span>
            </a>
        </li>
        <li>
          <a href="" class="logout">
          <i class="fas fa-sign-out-alt"></i>
          <span class="nav-item">Thoát</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</body>
</html>
