<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Xóa thông tin sinh viên</title>
  <link rel="stylesheet" href="../css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
</head>
<body>
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href="#" class="logo">
          <img src="../image/th.png" alt="Logo">
          <span class="nav-item">Tùng</span>
            </a>
        </li>
          <li>
            <div class="dropdown">
              <a href="#">
              <i class="fas fa-user"></i>
              <span class="nav-item">Quản lý sinh viên</span>
              </a>
            <div class="dropdown-options">
              <ul>
                <li><a href="./liststudent.html">Danh sách sinh viên</a></li>
                <li><a href="./addstudent.html">Cập nhật sinh viên</a></li>
                <li><a href="./fixstudent.html">Sửa đổi danh sách sinh viên</a></li>
                <li><a href="./deletestudent.html">Xóa thông tin sinh viên</a></li>
              </ul>
            </div>
          </div>
          </li>
          <li>
            <div class="dropdown">
              <a href="#">
              <i class="fas fa-bed"></i>
              <span class="nav-item">Quản lý phòng</span>
              </a>    
              <div class="dropdown-options">
                <ul>
                  <li><a href="#">Danh sách phòng</a></li>
                  <li><a href="#">Cập nhật thông tin phòng</a></li>
                  <li><a href="#">Sửa đổi thông tin phòng</a></li>
                  <li><a href="#">Xóa thông tin phòng</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="dropdown">
            <a href="">
            <i class="fas fa-credit-card"></i>
            <span class="nav-item">Quản lý hóa đơn</span>
            </a> 
            <div class="dropdown-options">
              <ul>
                <li><a href="#">Cập nhật danh sách hóa đơn</a></li>
                <li><a href="#">Thanh toán</a></li>
                <li><a href="#">Ghi nợ</a></li>
              </ul>
            </div>
          </div> 
          </li>
          <li>
            <div class="dropdown">
            <a href="">
            <i class="fas fa-shower"></i>
            <span class="nav-item">Dịch vụ</span>
            </a>
            <div class="dropdown-options">
              <ul>
                <li><a href="./service.html">Phí dịch vụ chung</a></li>
                <li><a href="./electric.html">Số điện</a></li>
                <li><a href="./water.html">Số nước</a></li>
              </ul>
            </div>
          </div>
          </li>
          <li>
            <div class="dropdown">
              <a href="">
              <i class="fas fa-id-badge"></i>
              <span class="nav-item">Hợp đồng</span>
              </a>
              <div class="dropdown-options">
                <ul>
                  <li><a href="#">Cập nhật thông tin hợp đồng</a></li>
                  <li><a href="#">Sửa đổi hợp đồng</a></li>
                  <li><a href="#">Xóa hợp đồng</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <a href="">
              <i class="fas fa-chart-bar"></i>
              <span class="nav-item">Thống kê</span>
              </a>
              <div class="dropdown-options">
                <ul>
                  <li><a href="./numberstudent.html">Số lượng sinh viên</a></li>
                  <li><a href="./takings.html">Doanh thu</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <a href="" class="logout">
            <i class="fas fa-sign-out-alt"></i>
            <span class="nav-item">Thoát</span>
            </a>
          </li>
        </ul>
      </nav>  
      <section class="main-course">
        <h1>Xóa thông tin</h1>
        <div class="course-box">
          <ul>
            <li>Họ tên : </li>
            <li><input placeholder="Hãy nhập họ tên" style="background-color: rgb(248, 246, 243);" type ="text"></li>
            <li>Địa chỉ :</li>
            <li><input placeholder="Hãy nhập địa chỉ" style="background-color: rgb(248, 246, 243);" type ="text"></li>
            <li>Quê quán</li>
            <li><input placeholder="Hãy nhập quê quán" style="background-color: rgb(248, 246, 243);" type ="text"></li>
            <li><button style="margin-right: 20px;"><a href="./liststudent.html">Xác nhận xóa</a></button></li>
          </ul>
        </div>
      </section>
  </div>
</body>
</html>
